<!DOCTYPE html>
<html>
<head>
    <title>MSB Conveyor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conveyor.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta http-equiv="refresh" content="100"> <!-- Auto-refresh every 5 minutes -->
</head>
<body>
    <div class="logo-container">
        <img src="https://www.medtronic.com/content/dam/medtronic-com/medtronic75.svg" alt="Medtronic Logo" class="logo">
    </div>
    
    <div class="chart-container">
        <div class="chart-canvas-wrapper">
            <canvas id="conveyor-chart"></canvas>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/conveyor.js') }}"></script>
</body>
</html>